/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    /* 最小屏幕宽度 */
    min-width: 1410px;
    /* 解决垂直外边距塌陷的问题(body与其中有上外边距子盒子之间的塌陷 */
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
/* 设置滚动条样式 */
*::-webkit-scrollbar {
    width: 2px;
    height: 100%;
    background-color: #eee;
    /* height: 10px; */
}
*::-webkit-scrollbar-thumb {
    background-color: #3394c1;
}
/* 菜单栏行内(块)元素左对齐 */
.el-menu-item {
    /* float: left; */
    margin-left: 10px;
    /* 文本左对齐 */
    text-align: left;
}
/* 设置标签页高度 */
.findMusic .el-tabs__header {
    line-height: 40px;
    margin: 0 257px 10px;
}
/* 轮播图的宽度 */
.findMusic .el-carousel {
    margin: 5px 40px;
}
/* .findMusic .el-carousel::-webkit-scrollbar-thumb {
    background-color: #eee;
} */
/* 修改横线的margin */
.index .el-divider {
    margin: 8px 0;
}
.el-main {
    height: 540px;
}
/* 设置Card大小 */
.playlists .el-card {
    background-color: #eee;
    width: 160px;
    height: 160px;
    padding-bottom: 40px;
    margin-top: 20px;
}
.playlists .el-card__body {
    padding: 0;
}


