/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    /* 最小屏幕宽度 */
    min-width: 1410px;
    /* 解决垂直外边距塌陷的问题(body与其中有上外边距子盒子之间的塌陷 */
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
/* 单行文字溢出隐藏样式(使用时直接添加此类即可 */
.single-overflow-hidden {
    /* nowrap --- 使文本不换行,即使超出盒子本身宽度 */
    white-space: nowrap;
    /* 溢出隐藏 */
    overflow: hidden;
    /* 设置文本溢出时用 省略号 代替 */
    text-overflow: ellipsis;
}
/* 多行文字溢出隐藏样式(使用时直接添加此类即可 */
.multiple-overflow-hidden {
    /* 溢出隐藏 */
    overflow: hidden;
    /* 设置文本溢出时用 省略号 代替 */
    text-overflow: ellipsis;
    display: -webkit-box;
    /* 在块元素内显示的文本的行数 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* 设置滚动条样式 */
*::-webkit-scrollbar {
    width: 2px;
    height: 100%;
    background-color: #eee;
    /* height: 10px; */
}
*::-webkit-scrollbar-thumb {
    background-color: #3394c1;
}
/* 菜单栏行内(块)元素左对齐 */
.el-menu-item {
    /* float: left; */
    margin-left: 10px;
    /* 文本左对齐 */
    text-align: left;
}
/* 设置标签页高度 */
.findMusic .el-tabs__header {
    line-height: 40px;
    margin: 0 257px 10px;
}
/* 轮播图的宽度 */
.findMusic .el-carousel {
    margin: 5px 40px;
}
/* .findMusic .el-carousel::-webkit-scrollbar-thumb {
    background-color: #eee;
} */
/* 修改横线的margin */
.index .el-divider {
    margin: 8px 0;
}
.el-main {
    height: 540px;
}
/* 设置Card大小 */
.playlists .el-card {
    background-color: #eee;
    width: 160px;
    height: 160px;
    padding-bottom: 40px;
    margin-top: 20px;
}
.playlists .el-card__body {
    padding: 0;
}
/* songlist 四个按钮 */
.buttons .el-button span {
    margin-left: 5px;
}


